body {
	background: #333;
    padding: 20px;
}

.topContainer {
	background: orange;
    height: 150px;
}

.logo {
	background: #666;
	background-image: url(http://www.bigfoto.com/image-leaves.jpg);
	background-size: 400px;
	display: inline-block;
    height: 100px;
    width: 400px;
    margin: 25px 0 0 25px;

}

.logo h1 {
    margin: 32.5px 0 0 0;
    text-align: center;
}


.navbar {
	background: purple;
    height: 40px;
}

.navbar a:nth-child(1) {
    margin: 0 0 0 270px;
}

.navbar button {
	background-color: #6CD9CA;
	border-color: black;
	border-width: 1px;
	border-radius: 5px 5px 0 0;
	box-shadow: 1px	-1px 3px 0; 
	font-family: Georgia, serif;
	font-size: 15px;
    height: 30px;
    width: 80px;
    margin: 10px 10px 0 10px;
}

.content {
	background-color: #E66967;
	background-image: url(https://ununsplash.imgix.net/uploads/1412825195419af52b492/8bc72ed7?q=75&fm=jpg&s=4f35827a6dc766d393fc51fce493d85d);
	background-size: 100%; 
	color: #FA485D;
    font-family: Georgia, serif;
    height: 840px;
    width: 700px;
}

.content h1 {
    margin: 20px 0 20px 30px;
}

.content p {
    margin: 10px;
}

.content, .notes {
	display: inline-block;
    float: left;
}

.notes {
	background: #999;
    height: 840px;
    width: 251px;
}

.notes h2 {
    font-family: Georgia, serif;
    margin: 10px 0 0 25px;
}

.notes ul {
    font-family: Georgia, serif;
	font-size: 15px;
    margin: 15px 0 0 0;
}

footer {
	background-color: #87D955;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}

